@model List<ProjectSem3.Models.SaleEntities.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("UpdateCart", "Cart", FormMethod.Post))
{
    <table class="table">
        <thead>
            <tr>
                <td>ID Product</td>
                <td>Name Product</td>
                <td>Image</td>
                <td>Quantity</td>
                <td>Unit Price</td>
                <td>Total Price</td>
            </tr>
        </thead>
        <tbody>
            @{
                int Total = 0;
            }
            @foreach (var item in Model)
            {
                int lineTotal = Convert.ToInt32(item.Quantity * item.Book.Price);
                Total = Convert.ToInt32(@Total + lineTotal);
                <tr>
                    <td>@item.Book.Id</td>
                    <td>@item.Book.Title</td>
                    <td><img src="@item.Book.Image" width="60" /></td>
                    <td><input type="text" name="quantity" value="@item.Quantity" /></td>
                    <td>@item.Book.Price</td>
                    <td>@(item.Book.Price * item.Quantity)</td>
                    <td>
                        <button class="btn-success">@Html.ActionLink("Delete", "DeleteItem", "Cart", new { bookId = item.Book.Id }, null)</button>
                    </td>
                </tr>
            }
            <tr>
                <td colspan="5" class="text-right"><b>Total: @Total</b></td>
            </tr>

        </tbody>
    </table>
    <br />
    @Html.ActionLink("Countinue Shopping", "Index", "Books", null, new { @class = "btn btn-primary btn-large" })

    <input type="submit" value="UpdateCart" />

    @Html.ActionLink("Payment", "Payment", "Cart", null, new { @class = "btn btn-primary btn-large" })
}




